body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f4f4;
}


header {
    text-align: center;
    margin-bottom: 40px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
