<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdel Akim | Resume</title>
    <link rel="stylesheet" href="style.css">
    </head>
<body>

<header>
    <h1>Abdel Akim Alliligali</h1>
    <p>Computer Science Student</p>
</header>
<section>
    <h2>About Me</h2>
    <p> I am a Computer Science student at LIU Brooklyn with a strong interest in software development and systems programming. I enjoy building projects in C++ and exploring how operating systems work at a deeper level. My academic journey began at BMCC, where I developed a solid foundation in programming and problem-solving, and it was there that I discovered my passion for computer science.

I am particularly interested in understanding how software interacts with hardware, memory management, and process execution. Through my projects, such as developing a Student Management System in C++, I have gained experience with object-oriented programming, file handling, and core programming concepts.

I am always looking to improve my skills by working on hands-on projects, learning new technologies, and strengthening my understanding of algorithms and data structures. My goal is to grow as a software developer and contribute to building efficient, reliable systems..</p>
</section>

<section>
    <h2>Skills</h2>
    <ul>
        <li>C++</li>
        <li>Python</li>
        <li>Problem Solving</li>
    </ul>
</section>

<section>
    <h2>Contact</h2>
    <p>Email: akimalliligali@gmail.com</p>
    <p>GitHub: github.com/username</p>
</section>

</body>
</html>